@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: #6d4f3e;

}

::-webkit-scrollbar-track {
  border-radius: 50vh;
}

::-webkit-scrollbar-thumb {
  background: #6d4f3e;
  border-radius: 50vh;
}
